<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>bootstrap项目实战</title>
    <link rel="stylesheet" href="../../../resources/libs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../resources/libs/css/bootstrap-maizi.css"/>
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img id="logo" src="../../../resources/images/ico/banner.jpg" alt="">
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="../home.html"><span
                        class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
                <li class="active"><a href="account.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;账户设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form navbar-left" role="search">
                    <div class="form-group form-serch">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#askModal">搜索</button>
                    </div>
                </li>
                <li><a href="#bbs">你好,XXX | 退出</a></li>
            </ul>
        </div>
        <!--导航-->
    </div>
</nav>
<!--导航-->
<!--内容-->
<div class="container">
    <div class="row">
        <!--左边栏-->
        <div class="col-md-2">
            <div class="list-group">
                <a href="../home.html" class="list-group-item">购物车</a>
                <a href="favourite-good.html" class="list-group-item">收藏夹</a>
            </div>

            <div class="list-group">
                <div class="panel-heading">订单</div>
                <a href="../home.html" class="list-group-item">已购买</a>
                <a href="../../search.html" class="list-group-item">处理中</a>
                <a href="../home.html" class="list-group-item">发货中</a>
            </div>
        </div>
        <!--左边栏-->

        <!--右边栏-->
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">我的信息</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th scope="row">名字</th>
                            <th scope="row">****</th>
                        </tr>
                        <tr>
                            <td scope="row">手机地址</td>
                            <td><input type="text" class=" "></td>
                        </tr>
                        <tr>
                            <td scope="row">收货地址</td>
                            <td><input type="text" class=""></td>
                            <td><button class="btn btn-default pull-right">保存</button></td>
                        </tr>

                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th scope="row">修改密码</th>
                        </tr>
                        <tr>
                            <td scope="row">旧密码</td>
                            <td><input type="password" class=" "></td>
                        </tr>
                        <tr>
                            <td scope="row">新密码</td>
                            <td><input type="password" class=" "></td>
                        </tr>
                        <tr>
                            <td scope="row">请确认</td>
                            <td><input type="password" class=""></td>
                            <td><button class="btn btn-default pull-right">保存</button></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <!--右边栏-->
    </div>
</div>
<!--内容-->

<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;2012-2015&nbsp;&nbsp;www.maiziedu.com&nbsp;&nbsp;蜀ICP备13014270号-4
                </p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->



<script src="../../../resources/libs/js/jquery.js"></script>
<script src="../../../resources/libs/js/bootstrap.min.js"></script>
</body>
</html>