<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>bootstrap项目实战</title>
    <link rel="stylesheet" href="../../../resources/libs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../resources/libs/css/bootstrap-maizi.css"/>
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img id="logo" src="../../../resources/images/ico/banner.jpg" alt="">
        </div>
        <!--小屏幕导航按钮和logo-->

    </div>
</nav>
<!--导航-->
<!--内容-->
<div class="container">
    <div class="row">

        <!--右边栏-->
         <div class="col-md-6 col-md-push-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a href="#">登录</a></li>
                        <li><a href="regist.html">注册</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form action="#">
                        <div class="form-group">
                            <label for="regist-name">username</label>
                            <input type="text" id="regist-name" class="form-control" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="regist-pass">用户密码</label>
                            <input type="text" id="regist-pass" class="form-control" placeholder="please input用户密码">
                        </div>
                        <button type="button" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>

        <!--右边栏-->
    </div>
</div>
<!--内容-->

<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;2012-2015&nbsp;&nbsp;www.maiziedu.com&nbsp;&nbsp;蜀ICP备13014270号-4
                </p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->


<script src="../../../resources/libs/js/jquery.js"></script>
<script src="../../../resources/libs/js/bootstrap.min.js"></script>
</body>
</html>










