<!--导航-->
<nav class="navbar navbar-default" >
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/customer/index"><img id="logo" src="../../resources/images/ico/banner.jpg" alt=""></a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form navbar-left" role="search">
                    <div class="form-group form-serch">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#askModal">search
                        </button>
                    </div>
                </li>
                <li><a href="#bbs">please login</a></li>
            </ul>
        </div>
        <!--导航-->
    </div>
</nav>
<!--导航-->
<!--内容-->
<div class="container">
    <div class="row">

        <!--右边栏-->
        <div class="col-md-6 col-md-push-3">
            <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="err_message">
                <h4>{{err_message}}</h4>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#/owner/login">login</a></li>
                        <li class="active"><a href="#">regist</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form name="registerForm" novalidate>
                        <div id="email-group">
                            <label for="email">E-mail:</label> <input type="email"
                                                                      class="form-control" ng-model="email" name="email"
                                                                      id="email"
                                                                      placeholder="please input email" required>
                            <p>
                    <span style="color: red" ng-show=" registerForm.email.$invalid">
                        <span ng-show="registerForm.email.$error.required">*please input email</span> <span
                            ng-show="registerForm.email.$error.email">*please input valid email address</span>
                    </span>
                            </p>
                        </div>

                        <div id="name-group">
                            <label for="login-name">username：</label> <input type="text"
                                                                        class="form-control"  name="name"
                                                                        id="login-name" ng-model="username"
                                                                        placeholder="please input username..." required>
                            <p>
                    <span style="color: red" ng-show="registerForm.name.$invalid">
                        <span ng-show="registerForm.name.$error.required">*please input username</span>
                    </span>
                            </p>
                        </div>

                        <div id="password-group">
                            <label for="login-pass">password：</label> <input type="password"
                                                                       class="form-control" ng-model="password"
                                                                       ng-minlength="6"
                                                                       ng-maxlength="20" name="password" id="login-pass"
                                                                       ng-model="password"
                                                                       placeholder="please inputpassword..." required>
                            <p>
                    <span style="color: red" ng-show="registerForm.password.$invalid">
                        <span ng-show="registerForm.password.$error.minlength">*Password length not less than 6 </span>
                        <span ng-show="registerForm.password.$error.maxlength">*password长度不超过20</span>
                    </span>
                            </p>
                        </div>

                        <div id="passwordagaingroup">
                            <label for="regist-pass-again">Enter the password again
                                ：</label> <input type="password"
                                                                                   class="form-control"
                                                                                   name="passwordagain"
                                                                                   id="regist-pass-again"
                                                                                   ng-model="passwordagain"
                                                                                   placeholder="Enter the password again
" required>
                            <p>
                    <span style="color: red" ng-show="registerForm.password.$valid">
                        <span ng-show="passwordagain!=password">*Two password input is not consistent
</span>
                    </span>
                            </p>
                        </div>

                        <button ng-click="regist()" type="submit" class="btn btn-success"
                                ng-disabled="registerForm.email.$invalid || registerForm.name.$invalid || registerForm.password.$invalid || password != passwordagain">
                            submit<span class="fa fa-arrow-right"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!--右边栏-->
    </div>
</div>
<!--内容-->