<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 注入扫描 mlgb-->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--扫描所有的包-->
    <context:component-scan base-package="com.parknshop"></context:component-scan>
    <!-- 注入hibernate 扫描-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <!--省略……-->
    <!--指定进行了Hibernate注解开发的包，方便框架进行扫描设置-->
    <property name="packagesToScan">
        <list>
            <value>com.parknshop.entity</value>
        </list>
    </property>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="5242880"/>
        <property name="maxInMemorySize" value="40960"/>
        <property name="uploadTempDir" value="resources/temp/"/>
    </bean>
</beans>